//----------------Color---------------//
$primary-color: #00B156;

//Text Color//
$text100: #333333;
$text80: #616161;
$text60gray: #8E8E8E;
$text60green: #909A8B;

//Solid//
$solid100: #E3E3E3;
$solid80: #F3F3F5;

//System//
$systemError: #EA4335;
$systemWhite: #FFFFFF;
$systemBackground: #F5F5F5;

//Calendar//

//Approve//
$approvePrimary: #4FB1FF;
$approveBackground: #D4ECFF;

//Waiting//
$waitingPrimary: #9E8AFF;
$waitingBackground: #F1E7FF;

//Book//
$bookBackground: #DFF4E9;

//Canceling//
$bookBackground: #F5F5F5;









